<h1 href="/">{{title}}</h1>
<nav>
  <ul class="navLinks">
    <li> <a routerLink="/departments" routerLinkActive="active"> HOME </a></li>
    <li> <a routerLink="/departments" routerLinkActive="active"> BLOG </a></li>
    <li> <a routerLink="/departments" routerLinkActive="active"> PORTFOLIO </a></li>
    <li> <a routerLink="/departments" routerLinkActive="active"> ABOUT THE TESTS </a></li>
    <li> <a routerLink="/departments" routerLinkActive="active"> LEVEL 1 </a></li>
    <li> <a routerLink="/departments" routerLinkActive="active"> SHOP </a></li>
    <div class="searchIcon"><li> <a class="logo" href="/"><img src="/assets/searchIcon.svg" alt="logo"></a></li></div>
  </ul>
</nav>