<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 href="/">{{title}}</h1>
<div class="topnav" id="myTopnav">
  <a routerLink="/home" routerLinkActive="active"> HOME </a>
  <a routerLink="/blog" routerLinkActive="active"> BLOG </a>
  <a routerLink="/departments" routerLinkActive="active"> PORTFOLIO </a>
  <div class="dropdown">
    <button class="dropbtn">ABOUT THE TESTS 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">LEVEL 1
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">SHOP
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
      <a routerLink="/departments" routerLinkActive="active">LINK </a>
    </div>
  </div>
  <a class="logo" href="/"><img src="/assets/searchIcon.svg" alt="logo"></a>
</div>